/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
  color: rgba(0, 0, 0, .8);
  font-family:"inter",sans-serif;
}
.hover_green:hover{
  color: #10847E;
}
.menuHover{
  cursor: pointer;
}
/* .link{
  text-decoration: none;
  margin-top: .5rem;
 
} */
.link{
  text-decoration: none;

}
.link:hover{
  color: #10847E ;
}
.tabs{
  font-family:"inter",sans-serif;
  font-size: 14px;
  font-weight: 500;
 
}
.noHover:hover{
  color: rgba(0, 0, 0, .7);
}
.tabs:hover{
  color: #10847E;
}
.hideScroll::-webkit-scrollbar {
  display: none;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}
