/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
  color: rgba(0, 0, 0, .8);
  font-family:"inter",sans-serif;
}
.hover_green:hover{
  color: #10847E;
}
.menuHover{
  cursor: pointer;
}
.link{
  text-decoration: none;
  margin-top: .5rem;
 
}

.tabs{
  font-family:"inter",sans-serif;
  font-size: 14px;
  font-weight: 500;
 
  
}
.tabs:hover{
  color: white;
}
.hideScroll::-webkit-scrollbar {
  display: none;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

<<<<<<< HEAD
.slideshowDot.active {
  background-color: #6a0dad;
=======
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
>>>>>>> 2c639cc6f06ff9d635996835d8fcea22422265ef
}
